/* .header {
    height: 64px;
    background-image: url("src\assets\icons\general\ic_header1.png");
} */

.floatingToolbar {
    position: fixed;
    background: #eee;
    width: 100%;
    top: 0;
    height: 0;
    opacity: 1;
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    user-select: none;
}
  
.sticky {
    height: 64px;
    opacity: 1;
    transition: opacity .25s ease-out, height .15s ease;
    z-index: 1;
}

#header-back{
    height: 100%; /* You must set a specified height */
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#header-parent {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: url("src/assets/icons/general/ic_header.svg");
}
#header-left {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 50%;
    height: 10vh;
}
#header-right {
    display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 10vh;
}
::ng-deep.mat-tab-label {
    padding: 5px;
    background-color: #fec107;
    color: #ffffff;
    width: 100%;
}
::ng-deep.mat-tab-label.mat-tab-label-active {
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    opacity: 1;
}
/* ::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: #fec107;
  color: 000000;
  opacity: 1;
  color: #ffffff;
    text-align: center;
} */