<mat-divider></mat-divider>
<div id="parent">
    <div id="parent-row">
        <p style="margin: auto;padding: 10px;font-weight: bold;">NEW ORDER</p>
        <div id="circle">
            <p style="margin: auto; padding: 10px;font-weight: bold;">{{dash?.newOrder}}</p>
        </div>
    </div>
    <div id="parent-row-white">
        <div id="parent-row-column">
            <img src="../../assets/icons/general/ic_order_bag.svg"
                style="display: block;margin-top: auto;margin-left: auto;margin-right: auto;width: 40%;height: 40%;">
            <p style="margin: auto; padding: 10px;font-weight: bold;">New Order</p>
        </div>
        <div id="parent-row-column">
            <img src="../../assets/icons/general/ic_order_bag.svg"
                style="display: block;margin-top: auto;margin-left: auto;margin-right: auto;width: 40%;height: 40%;">
            <p style="margin: auto; padding: 10px;font-weight: bold;">Previous Order</p>
        </div>
    </div>
    <div id="parent-row">
        <p style="margin: auto;padding: 10px;font-weight: bold;">TOTAL ACTIVE PRODUCT</p>
        <div id="circle">
            <p style="margin: auto; padding: 10px;font-weight: bold;">{{dash?.activeProduct}}</p>
        </div>
    </div>
    <div id="parent-row-white">
        <div id="parent-row-column">
            <img src="../../assets/icons/general/ic_your_product.svg"
                style="display: block;margin-top: auto;margin-left: auto;margin-right: auto;width: 40%;height: 40%;">
            <p style="margin: auto; padding: 10px;font-weight: bold;">Your Product</p>
        </div>
        <div id="parent-row-column">
            <img src="../../assets/icons/general/ic_add_product.svg"
                style="display: block;margin-top: auto;margin-left: auto;margin-right: auto;width: 40%;height: 40%;">
            <p style="margin: auto; padding: 10px;font-weight: bold;">Add New Product</p>
        </div>
    </div>
    <div id="parent-row">
        <p style="margin: auto;padding: 10px;font-weight: bold;">LIMITED PRODUCT</p>
        <div id="circle">
            <p style="margin: auto; padding: 10px;font-weight: bold;">{{dash?.limitedProduct}}</p>
        </div>
    </div>
    <div id="parent-row-white">
        <div id="parent-row-column">
            <img src="../../assets/icons/general/ic_stock.svg"
                style="display: block;margin-top: auto;margin-left: auto;margin-right: auto;width: 40%;height: 40%;">
            <p style="margin: auto; padding: 10px;font-weight: bold;">Stock Limited Product</p>
        </div>
    </div>

</div>